[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input.ng-invalid.ng-dirty {
  background-color: pink;
}
li {
  list-style: none;
}
.well {
  height: 250px;
}
.well:hover{
  background-color: #222;
  color: #fff;
}
.session .well {
  height: auto;
}
