<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-cloak>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Events App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/eventDetails.html" class="active">Home</a></li>
            <li><a href="/newEvent.html">New Event</a></li>

          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


      <div class="container" ng-controller="editEventCtrl">
        <div class="row col-xs-6">


        <h2>New Event</h2>
        <hr />
        <form name="newEventForm">

          <div class="form-group">
            <label for="eventName">Event Name</label>
            <input id="eventName" ng-model="event.name" type="text" required class="form-control" placeholder="name" />
          </div>

          <div class="form-group">
            <label for="eventDate">Event Date</label>
            <input id="eventDate" ng-model="event.date" type="text" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" class="form-control" placeholder="Format (MM/DD/YYYY)" />
          </div>

          <div class="form-group">
            <label for="eventTime">Event Time</label>
            <input id="eventTime" ng-model="event.time" type="text" class="form-control" placeholder="Time" />
          </div>

          <div class="form-group">
            <label for="eventLocation">Event Location</label>
            <input id="eventLocation" ng-model="event.location" type="text" class="form-control" placeholder="Location" />
          </div>

          <div class="form-group">
            <label for="eventImageUrl">Event Image</label>
            <input id="eventImageUrl" ng-model="event.imageUrl" type="url" class="input-xlarge form-control" placeholder="url of image" />

          </div>


          <img ng-src="{{event.imageUrl}}" src="" />

          <button type="submit" ng-click="saveEvent(event, newEventForm)" ng-disabled="newEventForm.$invalid" class="btn btn-primary">Save</button>
          <button type="button" ng-click="cancelEvent()" class="btn btn-default">Cancel</button>

        </form>
      </div>


        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/editEventCtrl.js"></script>
    <script src="/js/services/eventData.js"></script>
  </body>
</html>
