<a href="event/{{event.id}}">
    <div class="well well-md">
          <div class='row'>
            <h2 class="col-xs-6">{{event.name}}</h2>
          </div>
          <div class='row'>
            <span class="col-xs-3">Date: </span><span>{{event.date}}</span>
          </div>
          <div class='row'>
            <span class="col-xs-3">Time: </span><span>{{event.time}}</span>
          </div>
          <div class='row'>
            <span class="col-xs-3">Location: </span><span>{{event.location.address}}</span>
          </div>
          <div class='row'>
            <span class="col-xs-3">&nbsp;</span><span>{{event.location.city}}, {{event.location.province}}</span>
      </div>
    </div>
</a>
