<div class="container">
    <form name="profileForm">
        <div class="row">
            <div class="col-xs-3">
                <img ng-src="{{getGravitarUrl(user.emailAddress)}}" src=""/>
            </div>
            <div class="col-xs-3">
                <form>
                  <div class="form-group">
                    <label for="userName">User Name:</label>
                    <input focus id="userName" class="form-control" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="text" placeholder="Username" ng-model="user.userName" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" class="form-control" required type="password" placeholder="Password" ng-model="user.password" />
                  </div>

                </form>
                <div style="margin-top:15px">
                    <form>
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input id="name" class="form-control" type="text" placeholder="Name" ng-model="user.name" />
                      </div>
                      <div class="form-group">
                        <label for="emailAddress">Email Address:</label>
                        <input id="emailAddress" class="form-control" type="email" placeholder="Email Address" ng-model="user.emailAddress" />
                      </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <div class="form-group">
                <label for="bio">Bio:</label>
                <textarea id="bio" rows="6" style="width:97%; color:#52575c" class="form-control" placeholder="Bio" ng-model="user.bio"></textarea>
              </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="pull-left"><span class="btn">Cancel</span></div>
                <div class="pull-right"><button type="submit" class="btn btn-primary">Save</button></div>
            </div>
        </div>
    </form>
</div>
