<div class="container">

  <img ng-src="{{event.imageUrl}}" />
  <p>{{event.name}}</p>
  <p>{{event.date}}</p>
  <p>{{event.time}}</p>
  <p>{{event.location.address + ' ' + event.location.city + ' ' + event.location.province}}</p>

  <h3>Sessions</h3>
    <ul class="thumbnails">
      <li ng-repeat="session in event.sessions">

        <div class="row session">

          <up-vote voteup="voteUpSession(session)" votedown="voteDownSession(session)" count="session.upVoteCount"></up-vote>

          <div class="well col-xs-6">
              <collapsible title="{{session.name}}">
                  <h6>{{session.creatorName}}</h6>
                  <span>{{session.duration}}</span>
                  <span>Level: {{session.level}}</span>
                  <p>{{session.abstract}}</p>
            </collapsible>
          </div>
        </div>
      </li>
    </ul>

  </div>
